/* .form-container {
    overflow: hidden;
    width: 100%;
  }
  
  .animated-container {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .slide {
    flex: 0 0 100%;
    padding: 20px;
    margin: 100px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    margin: 5px;
  }
    label {
        font-size: 100px;
    }
    input {
        flex: 1;
        border: none;
        font-size: 100px;
    }




   */